<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    #buttons {
        position: absolute;
        top: 0;
        left: 0;
    }

    button {
        margin: 10px;
    }
</style>
<body>
    <div id="buttons">
        <form action = "{{ url_for('index') }}">
            <button class="btn btn-light" type="submit">Back</button>
        </form>
    </div>
    <form action="/upload-image" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label>Select image</label>
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="image" id="image">
            <label class="custom-file-label" for="image">Select image...</label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</body>
</html>